# Python related files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
.venv/Lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# virtual environment
venv/
ENV/
.env

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Project specific files
uploads/
chroma_db/

# Log files
*.log

# Other
.coverage
htmlcov/
.pytest_cache/
coverage.xml
*.cover
